/.vscode/
.DS_store.DS_Store
.github/secrets.env
__pycache__/
*.pyc
.DS_Store
node_modules/

# macOS
.DS_Store
**/.DS_Store
# GCP keys
*serviceAccountKey*.json

# macOS junk
.DS_Store
**/.DS_Store
**/._*
__MACOSX/
