.venvServer/
firebase-service-account.json
.env
__pycache__/
/songs
/songs_pdf
/test.py
aakash/
logs/
pdf_testing/
/song_data
security/
room_database/
.pytest_cache/
/scripts/__pycache__/
server/scripts/__pycache__


/.kiro/
/.vscode/
/instructional-tool/
